<div class="packageform">
  <h2 class="text-center py-5 packageform__title">Formulaire d'ajout de forfait</h2>
<form class="d-flex flex-column justify-content-between align-items-center"  #packageFormAdd='ngForm'>
  <div class="form-group">
      <mat-form-field class="example-form-field">
        <mat-label>Nom du forfait:</mat-label>
        <input matInput type="text" required [(ngModel)]="newPackage.name" #packageName="ngModel" id="packageName" name="packageName" minlength="2" maxlength="50">
      
      </mat-form-field>
      <span class="formError" *ngIf="!packageName.valid && packageName.touched">Veillez entre un nom de forfait valide entre 2 et 50 caractères.</span>
  </div>

  <div class="form-group">
      <mat-form-field  appearance="fill">
        <mat-label>Description du forfait: </mat-label>
        <textarea matInput placeholder="Inscrire une courte description" required [(ngModel)]="newPackage.description" id="packageDescription" name="packageDescription"></textarea>
      </mat-form-field>
  </div>

  <div class="form-group">
      <mat-form-field class="example-form-field">
        <mat-label>Nom de l'établissement:</mat-label>
        <input matInput type="text" required [(ngModel)]="newPackage.lodging.name" #lodging="ngModel" id="lodgingName" name="lodgingName" minlength="5" maxlength="100">
      </mat-form-field>
      <span class="formError" *ngIf="!lodging.valid && lodging.touched">Veillez entre un nom d'établissement valide entre 5 et 100 caractères.</span>
  </div>

  <div class="form-group">
      <mat-form-field class="example-form-field">
        <mat-label>Adresse:</mat-label>
        <input matInput type="text" required [(ngModel)]="newPackage.lodging.address" id="address" name="address">
      </mat-form-field>
  </div>

  <div class="form-group">
      <mat-form-field class="example-form-field">
        <mat-label>Ville:</mat-label>
        <input matInput type="text" required [(ngModel)]="newPackage.lodging.city" id="city" name="city">
      </mat-form-field>
  </div>


  <div class="form-group">
      <mat-form-field class="example-form-field">
        <mat-label>Code postal:</mat-label>
        <input matInput type="text" required [(ngModel)]="newPackage.lodging.postalcode" id="postalCode" name="postalCode">
      </mat-form-field>
  </div>

  <div class="form-group">
      <mat-form-field class="example-form-field">
        <mat-label>Téléphone:</mat-label>
        <input matInput type="tel" required [(ngModel)]="newPackage.lodging.phonenumber"  id="phoneNumber" name="phoneNumber">
      </mat-form-field>
  </div>

  <div class="form-group">
      <mat-form-field class="example-form-field">
        <mat-label>Courriel:</mat-label>
        <input matInput type="email" required [(ngModel)]="newPackage.lodging.email" #email="ngModel" id="email" name="email">  
      </mat-form-field>
      <span class="formError" *ngIf="!email.valid && email.touched">Entrez un courriel valide, par exemple: forfaiterie@gmail.com</span>
  </div>

  <div class="form-group">
      <mat-form-field class="example-form-field">
        <mat-label>Site web:</mat-label>
        <input matInput type="text" required [(ngModel)]="newPackage.lodging.website" id="website" name="website">
      </mat-form-field>
  </div>
<!-- 
  <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Note: </mat-label>
        <textarea matInput placeholder="Inscrire une note" required [(ngModel)]="newPackage.note" id="note" name="note"></textarea>
      </mat-form-field>
  </div> -->


  <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Date de début:</mat-label>
        <input matInput [matDatepicker]="picker1" required [(ngModel)]="newPackage.startdate" id="startdate" name="startdate">
        <mat-hint>MM/JJ/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
  </div>


  <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Date de fin: </mat-label>
        <input matInput [matDatepicker]="picker2" required [(ngModel)]="newPackage.enddate" id="enddate" name="enddate">
        <mat-hint>MM/JJ/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
  </div>

  <div class="form-group">
      <mat-checkbox class="example-margin"  [(ngModel)]="newPackage.prenium"  id="prenium" name="prenium">Forfait Prenium</mat-checkbox>
  </div>

  <div class="form-group">
      <mat-form-field class="example-form-field">
        <mat-label>Prix régulier:</mat-label>
        <input  matInput type="number" required [(ngModel)]="newPackage.price" #regPrice="ngModel" id="price" name="price" min="0"> 
      </mat-form-field>
      <span class="formError" *ngIf="">Le prix régulier ne peut être égal ou plus petit que zéro dollard.</span>
  </div>

    <div class="form-group">
      <mat-form-field class="example-form-field">
        <mat-label>Prix promotionnel:</mat-label>
        <input matInput type="number" required [(ngModel)]="newPackage.newprice" id="newprice" name="newprice" min="0">
      </mat-form-field>
      <span class="formError" *ngIf="">Le prix promotionnel ne peut être égal ou plus petit que zéro dollard.</span>
  </div>

  <div>
    <button mat-stroked-button type="submit"  class="submitPackage--button" aria-label="Ajouter le forfait" (click)="addPackage(packageFormAdd)">
      Ajouter
    </button>
</div>
</form>
</div>