.packageform{
    background-color: #d9d9d9;
    padding: 50px;
    border-radius: 5px;
    width: 100%;
}

.packageform__title{
    font-family: Cookie; 
    font-size: 50px;
    padding: 50px;
    color: #284b63;
}

mat-form-field, mat-checkbox{
    font-family: Gilda Display;
    color:#353535;
    font-weight: bold;
    width: 100%;
}

.formError{
    color:crimson;
    border: 2px solid crimson;
}



.submitPackage--button{
    color:#FFFFFF;
    background-color: #284b63;
    padding: 5px;
    border-radius: 5%;
}


