<div>
 <!-- Utiliser le composent réutilisable du prix régulier, le barré si le forfait a une valeur comme nouveau prix et inscrire l'économie en fesant la différence entres les 2 valeurs -->
<span class="d-flex justify-content-center align-items-center" [ngStyle]="{'text-decoration': (newprice) ? 'line-through' : ''}">Prix régulier: {{price | currency}} $</span>

 
<!-- S'il y a un nouveau prix au forfait   "  -->
<span class="d-flex justify-content-center align-items-center" *ngIf="newprice && newprice > 0"> Prix promotionnel : {{newprice | currency}} $ <br> Économies de: {{price - newprice | currency}} $</span>
</div>

