<mat-card class="prenium__package" [ngStyle]="{'background-color':(package?.prenium ? '#e6b861': '')}">
  <mat-card-header>
    <mat-card-title>{{package?.name}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-card-subtitle>Établissement: {{package?.lodging?.name}}</mat-card-subtitle>
    <mat-card-subtitle>Date de début: {{package?.startdate | date }}</mat-card-subtitle>
    <mat-card-subtitle>Date de fin: {{package?.enddate | date }}</mat-card-subtitle>
    <app-price [price]="package?.price || 0" [newprice]="package?.newprice || 0 "></app-price>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button><span class="minicard__icon">
      <mat-icon>info </mat-icon>
      </span></button>
  </mat-card-actions>
</mat-card>

      


