
.packageslist__container{
    padding: 15px;
    margin:10px;
}

mat-card{
    background-color:#d9d9d9 ;
    color:#284b63;
    font-family: Gilda Display;
    font-weight: bolder;
    padding: 15px;
    margin:5px;
}

.mat-card-title{
    text-align: center;
    font-family: Cookie;
    font-size: 48px;
    padding: 5px;
    margin: 5px;
}

.mat-card-subtitle{
    text-align: center;
    font-family: Gilda Display;
    font-weight: bolder;
    color:#284b63;
    padding: 10px;
}

p{
  margin: 5px;
  padding-left: 25px;
}

.packagesicon__container, .subtitle__container, .period__container, .lodging__infos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin:5px;
}