<div class="container">
<div class="packageslist__container">
 
<!-- Pour appliquer une couleur précise selon le rang du forfait -->
<mat-card  [ngStyle]="{'background-color':(package?.prenium ? '#e6b861': '')}"  >

    <mat-card-header>
          <mat-card-title>{{package?.name}}</mat-card-title>
          <mat-card-subtitle> Description: {{package?.description}}</mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
            <div class="subtitle__container">
              <mat-card-subtitle>Code: {{package?.code}}</mat-card-subtitle>
              <mat-card-subtitle>Rang du forfait: {{package?.rank}}</mat-card-subtitle>
            </div>

             <div class="lodging__infos">
                <p>Nom: {{package?.lodging?.name}}</p>
                <p>Description: {{package?.lodging?.description}}</p>
                <p>Adresse: {{package?.lodging?.address}} {{package?.lodging?.city}} {{package?.lodging?.postalcode}}</p>
                <p>Numéro de téléphone: {{package?.lodging?.phonenumber}}</p>
                <p>Courriel: {{package?.lodging?.email}}</p>
                <p>Site web: {{package?.lodging?.website}}</p>
            </div>
       

          <div>
            <div class="period__container">
                <p>En vigeur du: {{package?.startdate | date}}</p>
                <p>Jusqu'au: {{package?.enddate | date}}</p>
            </div>
            <div>
              
                    
               
              <app-price [price]="package?.price || 0" [newprice]="package?.newprice || 0"></app-price><br>
          </div>
         </div>

          <div>
            <mat-card-subtitle>Catégories: {{package?.categories}}</mat-card-subtitle>
          </div>

          <ng-container>
            <mat-card-subtitle *ngFor="let r of package?.reviews" >
              Note sur 10 : {{r.rating}}
              Commentaire : {{r.comments}}
            </mat-card-subtitle>
          </ng-container>
        </mat-card-content>
  </mat-card>
</div>
</div>