<div class="formreviews">
<h2 class="text-center formreviews__title">Formulaire d'avis</h2>
<div class="d-flex justify-content-around py-5">

<div>
    <p>Indiquer votre note sur 10</p>
    <mat-slider min="0" max="10" step="1" showTickMarks discrete>
        <input matSliderThumb>
        
      </mat-slider>
</div>

<div>
     <mat-form-field appearance="fill">
        <mat-label>Inscrire votre avis ici</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
</div>


</div>
<div class="d-flex justify-content-center py-3">
  <button mat-button class="submitReview--button">Soumettre</button>
</div>
</div>
