.formreviews{
    background-color:#d9d9d9 ;
    color:#284b63;
    border-radius: 5px;
}

.formreviews__title{
    font-family: Cookie; 
    font-size: 50px;
    padding: 50px;
    
}

mat-form-field, mat-label{
    font-family: Gilda Display;
    color:#353535;
    font-weight: bold;
    width: 100%;
}

.submitReview--button{
    color:#FFFFFF;
    background-color: #284b63;
    padding: 5px;
    border-radius: 5%;
}