<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center py-5">
      <p class="about__texte">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Posuere lorem ipsum dolor sit amet. In metus vulputate eu scelerisque felis imperdiet proin
        fermentum leo. Non nisi est sit amet facilisis magna etiam. Velit sed ullamcorper morbi tincidunt ornare massa
        eget egestas. Ac ut consequat semper viverra. Amet est placerat in egestas. Potenti nullam ac tortor vitae purus
        faucibus. Ultricies mi eget mauris pharetra. Quis commodo odio aenean sed adipiscing diam donec adipiscing
        tristique. Consequat interdum varius sit amet mattis vulputate enim. In dictum non consectetur a erat nam.
        Iaculis urna id volutpat lacus laoreet non curabitur. Maecenas ultricies mi eget mauris. In mollis nunc sed id.
        At augue eget arcu dictum varius duis at.

        Elementum facilisis leo vel fringilla. Tristique risus nec feugiat in fermentum posuere urna. Vel risus commodo
        viverra maecenas accumsan lacus. Odio morbi quis commodo odio aenean sed adipiscing diam. Pulvinar sapien et
        ligula ullamcorper. Enim ut sem viverra aliquet eget sit amet. Convallis a cras semper auctor neque vitae. Amet
        mattis vulputate enim nulla aliquet porttitor. Elementum curabitur vitae nunc sed velit dignissim sodales. Id
        consectetur purus ut faucibus pulvinar elementum integer. Diam phasellus vestibulum lorem sed risus. Tristique
        et egestas quis ipsum suspendisse ultrices gravida. Tincidunt augue interdum velit euismod in.

        Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Non curabitur gravida arcu ac.
        Platea dictumst quisque sagittis purus. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim
        tortor. Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. Varius morbi enim nunc
        faucibus a pellentesque. Turpis egestas sed tempus urna. Facilisi cras fermentum odio eu feugiat. Consequat ac
        felis donec et odio pellentesque diam. Quis viverra nibh cras pulvinar mattis nunc. Elementum pulvinar etiam non
        quam lacus suspendisse faucibus interdum. Et egestas quis ipsum suspendisse ultrices. Suscipit tellus mauris a
        diam maecenas sed enim ut. Aliquet bibendum enim facilisis gravida neque. Leo vel fringilla est ullamcorper. Ut
        tristique et egestas quis ipsum suspendisse ultrices. Amet nisl purus in mollis nunc sed id semper risus.
        Adipiscing elit duis tristique sollicitudin nibh sit. Risus commodo viverra maecenas accumsan.

        Purus in massa tempor nec feugiat nisl pretium fusce. In egestas erat imperdiet sed euismod nisi porta lorem. Et
        malesuada fames ac turpis egestas sed tempus urna. Eu lobortis elementum nibh tellus molestie nunc non blandit.
        Augue lacus viverra vitae congue eu consequat ac felis. Vitae proin sagittis nisl rhoncus mattis rhoncus urna.
        Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Adipiscing tristique risus nec feugiat in fermentum
        posuere. Sed elementum tempus egestas sed. Mauris sit amet massa vitae tortor condimentum lacinia quis. Lectus
        vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. In hendrerit gravida rutrum quisque
        non. Sed ullamcorper morbi tincidunt ornare massa.

        Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Ac feugiat sed lectus vestibulum
        mattis. Pulvinar etiam non quam lacus suspendisse faucibus interdum. Vel elit scelerisque mauris pellentesque
        pulvinar pellentesque habitant. Sit amet volutpat consequat mauris nunc congue nisi. Ultricies mi quis hendrerit
        dolor magna eget est. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. In cursus
        turpis massa tincidunt dui ut ornare. Etiam non quam lacus suspendisse. Duis ultricies lacus sed turpis. Diam
        donec adipiscing tristique risus nec. Volutpat ac tincidunt vitae semper quis lectus nulla at. Cursus sit amet
        dictum sit amet justo donec enim. Dui ut ornare lectus sit amet est. Tristique magna sit amet purus. Vitae
        semper quis lectus nulla at volutpat diam ut. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh.
        Hendrerit dolor magna eget est lorem ipsum dolor sit amet. Tempor commodo ullamcorper a lacus. Ultrices dui
        sapien eget mi proin sed.
      </p>

    </div>

  </div>

</div>
