<nav class="container-fluid">
  <div class="d-flex justify-content-between">
    <mat-toolbar class="nav__title">La forfaiterie</mat-toolbar>

    <button class="nav__button" mat-button [matMenuTriggerFor]="menu"><mat-icon class="material-icons-outlined">
        menu
    </mat-icon></button>
    <mat-menu #menu="matMenu">
      <ul class="navbar-nav">
        <li class="nav-item nav__text"><a class="nav-link nav__text" routerLink="/packages">Nos forfaits</a></li>
        <li class="nav-item nav__text"><a class="nav-link nav__text" routerLink="/packagex">Forfaits vedettes</a></li>
        <li class="nav-item nav__text"><a class="nav-link nav__text" routerLink="/packagey">Nos promotions</a></li>
        <li class="nav-item nav__text"><a class="nav-link nav__text" routerLink="/about">À propos</a></li>
        <li class="nav-item nav__text"><a class="nav-link nav__text" routerLink="/admin">Administration</a></li>
      </ul>
    </mat-menu>
  </div>
</nav>



