.admin__title{
    font-family: Cookie; 
    font-size: 50px;
    padding: 50px;
    text-align: center;
    color: #FFFFFF;
}

table{
    width: 100%;
    background-color: #d9d9d9;
    font-family: Gilda Display;
    color:#353535;
    font-weight: bold;
}

th{
    font-family: Cookie;
    color:#353535;
    font-size: 28px;
}

mat-paginator{
    background-color: #d9d9d9;
    font-family: Gilda Display;
    color:#353535;
    font-weight: bold;
}



