
<div class="container">
<section class="minicard__container">
   
    <app-mini-card-package *ngFor="let package of packages | premium" [package]="package"></app-mini-card-package>
</section>

<!-- <section>
    <app-search-form></app-search-form>
</section> -->

<section>
    <app-package *ngFor="let package of packages" [package]="package "></app-package>
</section>



<section>
    <app-reviews-form></app-reviews-form>
</section>
</div>

 

<!-- | packgagebylodging : 'Les Spas de la nature' -->